<!-- Page Header Start -->
<div class="page-header parallaxie"{% if pageHeaderBg %} style="background-image: url('{{ pageHeaderBg }}'); background-size: cover; background-position: center center;"{% endif %}>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="page-header-box">
                    <h1 class="text-anime-style-2" data-cursor="-opaque">{{ pageHeaderTitle | safe }}</h1>
                    <nav class="wow fadeInUp">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/" data-en="home" data-tl="tahanan">home</a></li>
                            {% if breadcrumbParent %}
                            <li class="breadcrumb-item"><a href="{{ breadcrumbParentUrl }}">{{ breadcrumbParent }}</a></li>
                            {% endif %}
                            <li class="breadcrumb-item active" aria-current="page">{{ breadcrumbActive }}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
